<header class="header">
    <div class="logo" data-i18n="../assets/images/langitlearning-logo.png"></div>
    <nav>
        <ul class="nav-menu">
            <li class="nav-item">
                <span data-i18n="header.menu.games"></span>
                <ul class="dropdown">
                    <li data-game="counting-money" data-i18n="games.counting_money"></li>
                </ul>
            </li>
            <li class="nav-item"><span data-i18n="header.menu.about"></span></li>
            <li class="nav-item"><span data-i18n="header.menu.contact"></span></li>
            <li class="nav-item">
                <select class="lang-switcher">
                    <option value="en">English</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
